.message-debug-control {
  display: flex;
}

.message-panel-toggle {
  flex-grow: 1;
  cursor: pointer;
}

.message-debug-control-actions {
  flex-grow: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.message-list {
  max-height: 400px;
  overflow: auto;
}

.message {
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.message.message-channel {
  background-color: #f3f3f3;
}

.message.platform-event {
  background-color: #c2c2f3;
}

.message .channel-name {
  font-weight: bold;
}

.message span,
.message strong {
  margin-right: 0.5rem;
}

.message-content {
  margin-top: -1.5rem;
}

.message-textarea {
  --sds-c-textarea-sizing-min-height: 200px;
}
